$svg-viewbox-size: 31.831;
$donut-cell-width: $svg-viewbox-size * 0.02;
$donut-ring-width: $svg-viewbox-size * 0.06;
// $svg-overflow-padding: null;

.donut-wrapper {
  animation: spin 120s linear infinite;
  margin: auto;
  min-height: 10rem;
  min-width: 10rem;
  width: 50vh;
  height: 50vh;
  position: relative;

  &::before {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: block;
    content: "▲";
    font-size: 2rem;
    color: white;
  }
}

@media (max-width: 1200px) {
  .donut-wrapper {
  }
}

.donut {
  overflow: visible;

  &__hole {
    fill: $background-md;
  }

  &__ring {
    fill: transparent;
    stroke: $background-xl;
    stroke-width: $donut-ring-width;
  }

  &__cell {
    fill: transparent;
    stroke-width: $donut-cell-width;
    stroke-linecap: round;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
